# Database
DB_URL=jdbc:postgresql://localhost:5433/file_system_db
DB_USERNAME=user
DB_PASSWORD=password

# AWS
AWS_S3_BUCKET=filesystem-s3
AWS_REGION=us-east-1

# JWT
# Generate a base64-encoded 256-bit secret:
# Linux/macOS: head -c 32 /dev/urandom | base64
# Windows: use OpenSSL or another tool to generate 32 random bytes and Base64-encode.
SECURITY_JWT_SECRET=
SECURITY_JWT_EXPIRATION_MS=86400000

# Datadog (optional)
DD_API_KEY=
DD_SITE=us5.datadoghq.com
DD_URI=https://api.datadoghq.com
DD_PG_PASS=ddpass

